aiosqlite==0.22.1
annotated-types==0.7.0
causal-learn==0.1.4.5
dowhy==0.14
fastapi==0.135.3
hmmlearn==0.3.3
httpx==0.28.1
numpy==2.4.4
pandas==3.0.2
pandas-datareader==0.10.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
requests==2.33.1
scikit-learn==1.8.0
starlette==1.0.0
statsmodels==0.14.6
ta==0.11.0
uvicorn[standard]==0.42.0
websockets>=12.0
yfinance==1.2.0
